.top{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 650px;
    border: 1px solid  rgba(240, 235, 235, 0.907);
    
    
    
    
    
}

.middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 40px;
}


.a{
    color: blue;
}

.top{
    font-style: italic;
}

.bridge{
    display: flex;
    justify-content: flex-start;
    flex-direction: column; 
    padding: 2px;
    margin-top: 120px;
}

.regis{
 border: 2px solid black;
 border-radius: 25px;
 height: 40px;
 width: 160px;
 display: flex;
 align-items: center;
 justify-content:center;
 
}

.sign{
    border: 2px solid black;
    border-radius: 25px;
    height: 40px;
    width: 160px;
    background-color: rgb(15, 21, 21);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
   
.drop{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 350px;
    height: 40px;
    margin: 10px;
    
}
.fontAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
  }  
input{
    width: 350px;
    height: 40px;
    font-family:'fontAwesome';
}
.box{
    border: 1px solid  rgba(240, 235, 235, 0.907);
    width: 18px;
    height: 18px;
    margin: 5px;
}
.remember{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.music{
    border: 1px solid rgba(240, 235, 235, 0.907);
    height: 650px;
    width: 500px;
    background-image: url("https://usicians.s3.amazonaws.com/background_img.png");
    color:white
}
main{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;

}

.mizik{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 454px;
    height: 107px;
   margin-top: 120px;
   font-size: 60px;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;

}

.login{
    margin-top: 20px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-repeat: no-repeat,repeat;
    
   
}

.apple{
    width: 160px;
    height: 40px;
}
.android{
  width: 140px;
  height: 70px;  
  background-color: none;
}

.app{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.musiknet{
    width: 294px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
input[type=text] { 
    width: 100%; 
    padding: 12px 40px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
} 
  

.fontuser {
    position: relative;
}
  
.fontuser i{
    position: absolute;
    left: 15px;
    top: 40px;
    color: gray;
}
  