.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    margin-top: 200px;
    border: 1px solid black;
    
    
    
}

.middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 40px;
}


.a{
    color: blue;
}

.top{
    margin: 20px;
    font-style: italic;
}

.bridge{
    display: flex;
    justify-content: flex-start;
    flex-direction: column; 
    padding: 2px;
}

.regis{
 border: 2px solid black;
 border-radius: 25px;
 height: 40px;
 width: 160px;
 display: flex;
 align-items: center;
 justify-content:center;
 
}

.sign{
    border: 2px solid black;
    border-radius: 25px;
    height: 40px;
    width: 160px;
    background-color: rgb(15, 21, 21);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
   
.drop{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 350px;
    height: 40px;
    margin: 10px;
    
}
   
input{
    width: 350px;
    height: 40px;
}
.box{
    border: 1px solid black;
    width: 18px;
    height: 18px;
    margin: 5px;
}
.remember{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
