.top{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 650px;
    border: 1px solid  rgba(240, 235, 235, 0.907);
}   
    
    
  .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 40px;
}


.a{
    color: blue;
}

.top{
    font-style: italic;
}

.bridge{
    display: flex;
    justify-content: flex-start;
    flex-direction: column; 
    padding: 2px;
    margin-top: 120px;
}

.regis{
 border: 2px solid black;
 border-radius: 25px;
 height: 40px;
 width: 160px;
 display: flex;
 align-items: center;
 justify-content:center;
 
}

.sign{
    border: 2px solid black;
    border-radius: 25px;
    height: 40px;
    width: 160px;
    background-color: rgb(15, 21, 21);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
   
.drop{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 350px;
    height: 40px;
    margin: 10px;
    
}


.box{
    border: 1px solid  rgba(240, 235, 235, 0.907);
    width: 18px;
    height: 18px;
    margin: 5px;
}
.remember{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.music{
    border: 1px solid rgba(240, 235, 235, 0.907);
    height: 650px;
    width: 500px;
    background-image: url("https://usicians.s3.amazonaws.com/background_img.png");
    color:white
}
main{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 88px;

}
.background-img{
    background: url(https://img.icons8.com/fluency-systems-regular/24/000000/filled-message.png) no-repeat scroll 4px 4px;
    background-image: 1.5rem;
    
 
}
.see{
    background:url(https://img.icons8.com/small/24/000000/visible.png) no-repeat scroll 4px 4px ;
    background-image: 1.5rem;
    

}
.key{
    background: url(https://img.icons8.com/material-two-tone/24/000000/password1.png) no-repeat scroll 4px 4px;
    background-image: 1.5rem;
}




.login{
    margin-top: 20px;
    font-size: 24px
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    mix-blend-mode: multiply;
    
   
}

.apple{
    width: 160px;
    height: 40px;
}
.android{
  width: 140px;
  height: 70px;  
 
}

  
.musiknet{
    display:flex;
    align-items: center;
    justify-content: center;
 
    width: 300px;
    height: 77px;
    margin-top:104px;
}


.theapp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 136px;

}

 
   

input{
    padding-left: 33px;
    width: 350px;
    height: 40px;
   
}

